*{
    padding: 0;
    margin: 0;
    border: border-box;
    font-family: Poppins;
}

.main{
    height: 130vh;
    width: 100%;
    background-image: url(Nit\ Raipur.jpg);
    background-size: cover;
}
.nav i{
      font-size: 1.4vw;
      display: none;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 4vw;
    height: 12vh;
    background-color: #ffffff;
    
    
}
.logoimg{
    background-image: url(logo.png);
    height: 10.1vh;
    width: 5vw;
    background-size: cover;
}
#text{
    padding-left: 1.5vw;
    font-size: 2vmax;
}
.nav-part2{
    gap: 2vw;
    display: flex;
    align-items: center;
    color: #181818;
    padding-left: 33%;
    font-size: 1.8vmax;
}


.box{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 7vh;
}
.box p{
    max-width: 50%;
    align-items: center;
    padding-top: 3vh;
    padding-left: 25%;
    color: #888888;
}
#box2{
    background-color: #ECF6FF;
}
#panel{
    color: #ffffff;
    font-size: 2vmax;
}
.panel2{
    border-bottom: #007bff solid 0.1rem;
}
.footpanel{
    background-color: #1C2331;
    color: #ffffff;
    font-size: 1.8vmax;
    display: flex;
    justify-content: space-around;
    padding: 6vw;
    
    border-top: #dee2e6 solid 1px;
}
ul a{
    display: block;
    margin-top: 1.4vmax;
}
.section{
    background-color: #007bff;
    display: flex;
    align-items: center;
    height: 13vh;
    margin-top: 7vh;
    padding-left: 5vw;
    
}
.section p{
    color: #ffffff;
}
.section2{
    padding-left: 50%;
    display: flex;
    gap: 2vw;
}

@media (max-width:600px) {
    .main{
        height: 130vmax;
        background-image: url(Nit\ Raipur.jpg);
        background-size: cover;
    }
    .nav h4{
        display: none;
    }
    .logoimg{
        width: 8vw;
    height: 10.1vh;
    }
    .nav i{
        margin-right: 5vw;
        display: block;
    }

    
}


